[package]
name = "esp32c3-online"
version = "0.1.0"
authors = ["Raffael Schmid <raffael.schmid@cloudarchitects.ch>"]
edition = "2024"  # Must be specified here too


[[bin]]
name = "esp32c3-online"
harness = false # do not use the built in cargo test harness -> resolve rust-analyzer errors


[dependencies]
positioning = { path = "../../positioning" }
positioning-online = { path = "../../positioning-online" }
connect = { path = "../../connect" }

log = { workspace = true }
crossbeam-channel = { workspace = true }
anyhow = { workspace = true }

esp-idf-svc = { workspace = true }
esp-idf-hal = { workspace = true }


[build-dependencies]
embuild = { version = "0.33.0", features = ["espidf"] }
